<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <header>
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 91.16 92.563">
                <line id="Line_271" data-name="Line 271" y1="82.064" x2="80.449" transform="translate(5.355 5.25)" fill="none" stroke="#fff" stroke-width="15"/>
                <line id="Line_272" data-name="Line 272" x1="80.449" y1="82.064" transform="translate(5.355 5.25)" fill="none" stroke="#fff" stroke-width="15"/>
            </svg> 
        </a>
        <img src="https://image.tmdb.org/t/p/w500/<%= details.backdrop_path %>" alt="Image of <%= details.original_title %>">
        <h1><%= details.original_title %></h1>
    </header>
    <main>
        <section>
            <div>
                <p><%= details.overview %></p>
                <span>
                <strong>Genres:</strong>
                <ul>
                    <% details.genres.forEach(genre => { %>
                        <li><%= genre.name %></li>
                    <% }) %>
                </ul>
                </span>
            </div>
            <h2>You may also like:</h2>
            <ul class="similar">
                <% same.forEach(movie => { %>
                    <a href="/movies/<%= movie.id %>">
                        <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="Movie poster of <%= movie.original_title %>">
                    </a>
                <% }) %>
            </ul>
        
        </section>
        
    </main>
</body>
</html>