<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
    <img src="https://image.tmdb.org/t/p/w500/<%= details.backdrop_path %>" alt="Image of <%= details.original_title %>">
    <h1><%= details.original_title %></h1>
    </header>
    <main>
        <p><%= details.overview %></p>
        <ul>
        <% details.genres.forEach(genre => { %>
            <li><%= genre.name %></li>

        <% }) %>
    </ul>
    </main>
</body>
</html>