<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/overview.css" type="text/css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
    <section>
        <% results.forEach(tab => { %>
            <span>
            <h2><%= tab.tab %></h2>
            <% if(tab.years) { %>
            <form action="/">
                <select name="<%= tab.name %>" onchange="this.form.submit()">
                    <% tab.years.forEach(year => { %>
                        <% if(tab.selected === year) { %>
                        <option value="<%= year %>" selected="<%= tab.selected %>"><%= year %></option>
                        <% } else { %>
                        <option value="<%= year %>"><%= year %></option>  
                    <% }}) %>
                </select>
                <button type="submit">select year</button>
            </form>
            <% } %>
            </span>
            <ul>
                <% tab.movies.forEach(movie => { %>
                <li>
                    <a href="/movies/<%= movie.id %>">
                        <img src="https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>" alt="Movie poster of <%= movie.original_title %>">
                    </a>
                </li>
                <% }) %>
            </ul>
            <% }) %>
    </section>
</main>
</body>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js')
                .then(registration => {
                    return registration.update()
                })
        })
    }
</script>
</html>